.hero{
    background-color: #32334C;
    padding-top: 124px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__main{
        color: white;
        margin-top: 10px;
    }
    &__sub-title{
        font-size: 16px;
        font-weight: 400;
        color: #EF6D58;
    }
    &__title{
        font-size: 72px;
        font-weight: 800;
        margin-top: 24px;
    }
    &__info{
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFFA3;
        margin-top: 24px;
    }
    &__btns{
        margin-top: 34px;
        display: flex;
        gap: 46px;
    }
    &__btn{
        padding: 18px 23px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 6px;
        font-size: 14px;
        font-weight: 900;
        transition: 0.3s ease-in-out;
    }
    &__btn:hover{
        background-color: #EF6D58;
    }
    &__profile{
        margin-top: 112px;
        display: flex;
        gap: 16px;
        margin-bottom: 50px;
    }
    &__profile__fraze{
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFFA3;
    }
    &__profile__other{
        margin-top: 6px;
        font-size: 16px;
        font-weight: 400;
        padding-left: 3px;
    }
}

@media(max-width: 571px){
    .hero{
        width: 100%;
        padding: 0;
        
        &__wrapper{
            flex-direction: column-reverse;
        }
        &__img img{
            width: 100%;
            margin-top: 16px;
        }
        &__main{
            margin-top: 30px;

            
        }
        &__sub-title{
           font-size: 26px;
        }
        &__title{
            font-size: 56px;
            font-weight: 800;
            margin-top: 20px;
        }
        &__info{
            font-size: 16px;
            font-weight: 400;
            margin-top: 12px;
        }
        &__btns{
            gap: 30px;
            margin-top: 18px;
        }
        &__profile{
            margin-top: 44px;
            margin-bottom: 34px;
        }
        &__profile__fraze{
            width: 200px;
        }
    }
}